header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: absolute;
    top: 110px;
    right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0, 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produtos-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
} 