p {
    <text-align: center; 
}    

#missao {
     font-size: 20px
}
 
h1{
    text-align: center; 
}

body{
    background: #CCCCCC;
}

#banner {
   width: 100%;
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios: #FFFFFF